.App {
  text-align: center;
}

.AppBar-Menu {
  display: flex;
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.viewContainer {
  margin: 50px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

header {
  margin: 10px 0px;
  font-size: 28px;
  color: blue;
  font-weight: 600;
}
